/* Start global variables */
:root {
    --main-transition: 0.3s;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --eee-color: #eee;
}
/* End global variables */
/* Start global rules */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;

}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* End global rules */
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* Start side-bar */
@media (min-width: 768px){
    .side-bar > h3::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        bottom: -20px;
        left: 50%;
        background-color: black;
        transform: translateX(-50%);
    }
    .side-bar > h3::after {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: black;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid white;
    }
}
.side-bar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}
.side-bar > h3 {
    margin-bottom: 50px;
}
.side-bar ul li a {
    margin-bottom: 5px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.side-bar ul li:hover,
.side-bar ul li a.active {
    background-color: #f6f6f6;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .side-bar {
        width: 62px;
        padding: 10px;
    }
    .side-bar > h3 {
        font-size: 12px;
        margin-bottom: 15px;
    }
}
.side-bar ul li span {
    margin-left: 10px;
}
/* End side-bar */
/* Start content */
.content {
    overflow: hidden;
}
.head .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 180px;
    transition: width 0.3s;
    outline: none;
}
.head .search input:focus {
    outline-color: #aaa;
    width: 210px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icon .notification::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}
.head .icon img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 15px;
}
.page h1 {
    margin-left: 15px;
    padding-bottom: 10px;

}
.page h1::before,
.page h1::after {
    content: "";
    width: 130px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.page h1:before{
    background-color: white;
}
.page h1:after {
    background-color: black;
    width: 16.25px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.wrapper .welcome h2 {
    margin-left: 15px;
}
/* End content */
/* Start welcome */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome  .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-transition);
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}
.welcome  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px solid white;
    padding: 2px;
    box-shadow: 0  0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
}
.welcome .body div {
    margin: 20px auto;
}
.welcome .body div span {
    margin-top: 5px;
}
/* End welcome */
/* Start quick draft */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}
.quick-draft .save {
    margin-left: auto;
    transition: var(--main-transition);
    cursor: pointer;
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* End quick draft */
/* Start target */
.target .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    justify-content: center;
}
.target .details {
    flex: 1;
}
.target .details .progress {
    height: 4px;
}
.target .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.target .progress > span span {
    color: white;
    position: absolute;
    right: -16px;
    bottom: 16px;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px;
}
.target .progress > span span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 5px;
}
.target .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.target .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.target .progress > .green span::after {
    border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End target */
/* Start tickets */
.tickets .box {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End tickets */
/* Start news */
.news .box img {
    width: 100px;
    margin-right: 15px;
}
.news .info {
    flex-grow: 1;
}
@media (max-width: 767px) {
    .news .box {
        display: block;
    }
    .news .box .label {
        margin: 10px auto;
        width: fit-content;
    }
}
/* Start news */
/* Start search */
.search {
    height: 100%;
}
/* End search */
/* Start task */
.task .box:nth-child(5) {
    opacity: 0.3;
}
.task .box i {
    transition: var(--main-transition);
}
.task .box i:hover {
    color: var(--red-color);
    cursor: pointer;
}
/* End task */
/* Start latest */
.latest ul li:not(:first-child) {
    border-top: 1px solid #eee;
}
.latest ul li div:last-of-type {
    margin-left: 30%;
}
.latest ul li:first-child div:nth-child(2) {
    margin-left: -9%;
}
@media (max-width: 767px) {
    .latest ul li:first-child div:nth-child(2) {
        margin-left: 0;
    }
}
/* End latest */
/* Start project */

.project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.project ul li.done::before {
    background-color: var(--blue-color);
}
.project ul li.curr::before {
    animation: hover 0.8s infinite alternate;
}
.project > img {
    width: 160px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    opacity: 0.2;
}
/* End project */
/* Start remind */
.remind ul li span {
    width: 15px;
    height: 15px;
}
.remind ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.remind ul li > .green {
    border-left: 2px solid var(--green-color);
}
.remind ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.remind ul li > .red {
    border-left: 2px solid var(--red-color);
}
/* End remind */
/* Start post */
.post p {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}
/* End post */
/* Start media */
.media .social .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.media .social .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}
.media .social .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.media .social .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.media .social i {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
    transition: var(--main-transition);
}
.media .social .twitter i {
    background-color: #1da1f2;
}
.media .social .facebook i {
    background-color: #1877f2;
}
.media .social .youtube i {
    background-color: #ff0000;
}
.media .social .linkedin i {
    background-color: #0077b5;
}
.media .social i:hover {
    transform: rotate(5deg);
}
.media .social .twitter div:nth-child(2) {
    position: absolute;
    left: 80px;
}
.media .social .facebook div:nth-child(2) {
    position: absolute;
    left: 80px;
}
.media .social .youtube div:nth-child(2) {
    position: absolute;
    left: 80px;
}
.media .social .linkedin div:nth-child(2) {
    position: absolute;
    left: 80px;
}
@media (max-width: 767px) {
    .media .social .twitter div:nth-child(2) {
        position: absolute;
        left: 60px;
    }
    .media .social .facebook div:nth-child(2) {
        position: absolute;
        left: 60px;
    }
    .media .social .youtube div:nth-child(2) {
        position: absolute;
        left: 60px;
    }
    .media .social .linkedin div:nth-child(2) {
        position: absolute;
        left: 60px;
    }
}
/* End media */
/* Start projects */
.projects .responsive-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects thead td {
    background-color: #eee;
}
.projects table td{
    padding: 15px;
}
.projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: var(--main-transition);
}
.projects tbody tr td:last-child {
    border-right: 1px solid #eee;
}
.projects table img {
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
.projects table tbody tr:hover td {
    background-color: #faf7f7;
}
/* End projects */
/* Start Settings */
.setting-page {
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
@media (max-width: 767px) {
    .setting-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.setting-page .close-message{
    resize: none;
    border: 1px solid #ccc;
    min-height: 150px;
    font-size: 12px;
}
.setting-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.setting-page .close-message:focus {
    outline: none;
}
.setting-page .social-box i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: var(--main-transition);
    display: flex;
}
.setting-page .social-box input {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
    background-color: #f6f6f6;
    padding-left: 10px;
    outline: none;
}
.setting-page .social-box > div:focus-within i {
    color: black;
}
.setting-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #888;
}
@media (max-width: 767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}
.backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
    margin: 5px;
}
.backup-control .servers .server label {
    cursor: pointer;
}
.backup-control .servers .server i {
    display: block;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
}
/* End Settings */
/* Start profile */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .avatar-box {
    width: 300px;

}
@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}
.profile-page .avatar-box > img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--blue-color);
    height: 100%;
    border-radius: 6px;
}
.profile-page .info-box .box {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition);
}
.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}
@media (max-width: 767px) {
    .profile-page .info-box .box > div {
        min-width: 250px;
    }
}
.profile-page .info-box .box > div {
    min-width: 300px;
    padding: 10px 0 0;
}
.profile-page .info-box .box h4 {
    font-weight: normal;
}
.profile-page .info-box .box .toggel-switch {
    height: 20px;
}
.profile-page .info-box .box .toggel-switch::before {
    height: 12px;
    width: 12px;
}
.profile-page .info-box .box .toggel-checkbox:checked + .toggel-switch::before {
    left: 80%;
}
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
    .profile-page .info-box .box .toggel-switch {
        left: 50%;
        transform: translateX(-50%);
    }
    .profile-page .info-box .box {
            display: flex;
            justify-content: center;
    }
}
.profile-page .skills-card  ul li {
    padding: 15px 0;
}
.profile-page .skills-card  ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.profile-page .skills-card  ul li span{
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 16px;
    margin: 5px;
}
.profile-page .activities {
    flex-grow: 2;
}
.profile-page .activity:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 50%;
}
@media (min-width: 768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}
@media (max-width: 767px) {
    .profile-page .activity {
        flex-direction: column;
    }
    .profile-page .activity img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .profile-page .activity .date {
        margin-top: 15px;
    }
}
/* End profile */
/* Start projects */
.project-page {
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
}
@media (max-width: 767px) {
    .project-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.project-page .project .date {
    position: absolute;
    top: 10px;
    right: 10px;
}
.project-page .project h4 {
    font-weight: normal;
}
.project-page .project .team {
    position: relative;
    min-height: 80px;
}
.project-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: var(--main-transition);
}
.project-page .project .team a:nth-child(2){
    left: 25px;
}
.project-page .project .team a:nth-child(3){
    left: 50px;
}
.project-page .project .team a:nth-child(4){
    left: 75px;
}
.project-page .project .team a:nth-child(5){
    left: 100px;
}
.project-page .project .team a:hover {
    z-index: 1000;
}
.project-page .project .team a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.project-page .project .tech {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}
.project-page .project .tech span {
    width: fit-content;
    margin-left: 15px;
    padding: 3px 8px;
}
@media (max-width: 767px) {
    .project-page .project .team {
        left: 25%;
    }
    .project-page .project .tech {
        flex-direction: column;
        align-items: center;
    }
    .project-page .project .tech span:not(:last-child){
        margin-bottom: 15px;
    }
    .project-page .project .info {
        flex-direction: column;
        gap: 20px;
    }
}
.project-page .project .info {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}
.project-page .project .info .prog {
    width: 260px;
    height: 8px;
    position: relative;
    border-radius: 6px;
}
.project-page .project .info .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}
/* End projects */
/* Start courses */
.courses-page {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media (max-width: 767px) {
    .courses-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    max-width: 100%;
}
.courses-page .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;
}
.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    top: -13px;
    transform: translateX(-50%);
    font-size: 13px;
}
/* End courses */
/* Start friends */
.friends-page {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.friends-page .contact{
    position: absolute;
    left: 10px;
    top: 10px;
}
.friends-page .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: var(--main-transition);
}
.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friends .icon {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.friends-page .friends .icon i {
    margin-right: 5px;
}
.friends-page .friends .icon .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}
/* End friends */
/* Start files */
.file-page {
    flex-direction: row-reverse;
    align-items: start;
}
.file-page .file-stats{
    min-width: 260px;
}
.file-page .file-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
}
.file-page .file-stats .size {
    margin-left: auto;
}
.file-page .file-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}
.file-page .file-stats .red {
    background-color: rgb(244 67 54 / 20%);
}
.file-page .file-stats .green {
    background-color: rgb(34 197 94 / 20%);
}
.file-page .file-stats .orange {
    background-color: rgb(244 67 54 / 20%);
}
.file-page .file-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: var(--main-transition);
}
.file-page .file-stats .upload:hover {
    background-color: var(--blue-alt-color);
}
.file-page .file-stats .upload:hover i{
    animation: go-up 0.8s infinite;
}
.file-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.file-page .files-content img {
    width: 64px;
    height: 64px;
    transition: var(--main-transition);
}
.file-page .files-content .file:hover img {
    transform: rotate(5deg);
}
.file-page .files-content .file i {
    transition: var(--main-transition);
}
.file-page .files-content .file i:hover {
    color: var(--blue-color);
}
.file-page .files-content .info { 
    border-top: 1px solid #eee;
}
@media (max-width: 767px) {
    .file-page {
        flex-direction: column;
        align-items: normal;
    }
}
/* End files */
/* Start plans */
.plans-page {
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
@media (max-width: 767px) {
    .plans-page {
        grid-template-columns: minmax(200px,1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}
.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 26px;
}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.plans-page .plan ul li .yes {
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes,.help){
    color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}
/* End plans */
/* Start components */
.toggel-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.toggel-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: var(--main-transition);
    cursor: pointer;
}
.toggel-switch:before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 800;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transition);
    font-size: 8px;
}
.toggel-checkbox:checked + .toggel-switch {
    background-color: var(--blue-color);
}
.toggel-checkbox:checked + .toggel-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
}
.widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::before,
.widgets-control .control label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
    border-radius: 4px;
}
.widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}
.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    margin-top: -12px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
}
.backup-control .date label::after {
    content: "";
    left: 5px;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 50%;
    transform: scale(0);
    margin-top: -7px;
    transition: var(--main-transition);
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-alt-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}
/* End components */
/* Start animation */
@keyframes hover {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0%,100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
/* End animation */